/* custom styles */
/* services */
.services-text {
  text-align: center;
}
.services-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(201px, 5fr));
  grid-gap: 1rem;
  align-items: flex-start;
  padding: 30px 0;
}
.services-card {
  width: 201px;
  height: 201px;
  box-shadow: 0px 1px 5px 0px rgba(32, 32, 32, 0.75);

  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.services-card:hover {
  background-color: #c17b31;
  color: white;
}
.services-card:hover .services-card-icon {
  background-color: rgb(214, 168, 119);
}

.services-card-icon {
  background-color: #c17b31;
  width: fit-content;
  padding: 0 8px;
  padding-top: 8px;
  border-radius: 0.5rem;
}
/* about us */
.aboutUs-section {
  background-color: #f3f3f3;
}
.aboutUs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  grid-gap: 1rem;
  align-items: flex-start;
  padding: 30px 0;
}
.white-circle {
  background-color: white;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-circle {
  background-color: #c17b31;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .aboutUs-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  }
  .white-circle {
    width: 200px;
    height: 200px;
  }
  .yellow-circle {
    width: 300px;
    height: 300px;
  }
}
