  @font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('../fonts/Acumin-RPro.woff') format('woff');
  }


  @font-face {
    font-family: 'Acumin Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Italic'), url('../fonts/Acumin-ItPro.woff') format('woff');
  }


  @font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
  }


  @font-face {
    font-family: 'Acumin Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold Italic'), url('../fonts/Acumin-BdItPro.woff') format('woff');
  }


  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    word-wrap: break-word;
    box-sizing: border-box;
    font-family: 'Acumin Pro Bold';
  }
  body{
    font-family: 'Acumin Pro Bold';

  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .btn {
    border-radius: 24px;
    width: 100px;
    min-height: 40px;
    font-size: 16px;
    
  }

  .btn:focus,
  .btn:active,
  .btn:hover {
    outline: none;
    box-shadow: none;
  }

  .btn-primary {
    background: #C17B31;
    border-color: #C17B31;
    color: white;

  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    background: #e68b2a;
    color: white;
    border: 1px solid  #e68b2a;
  }

  .form-control:focus {
    box-shadow: none;
    outline: none;
  }

  .text-64px {
    font-size: 64px;
    line-height: 70px;
    color: #000000;
  
  }
  .text-48px {
    font-size: 48px;
    line-height: 40px;
    color: #000000;
  
  }
  .text-24px {
    font-size: 24px;
    line-height: 40px;
    color: #C17B31;
   
    letter-spacing: 3px;
  
  }
  .text-18px {
    font-size: 18px;
    line-height: 32px;
    color: #929292;
    font-weight: 400;
  
  }
  .text-16px {
    font-size: 16px;
    line-height: 26px;
    color: #929292;
    font-weight: 400;
  
  }
  .text-13px {
    font-size: 14px;
    line-height: 22px;
    color: #929292;
    font-weight: 400;
  
  }
  

  /* Media Query */
  @media only screen and (max-width: 1200px) {}

  @media only screen and (max-width: 992px) {}

  @media only screen and (max-width: 768px) {}

  @media only screen and (max-width: 576px) {}